:root {
  --lovely-red: rgb(218, 94, 72); /* HEX#DA5E48 */
  --lovely-hot-pink: rgb(246, 150, 149); /* HEX#F69695 */
  --lovely-light-pink: rgb(251, 193, 161); /* HEX#FBC1A1 */
  --lovely-cream: rgb(242, 243, 238); /* HEX#F2F3EE */
}

html,
body {
  background-color: var(--lovely-cream);
  height: 100%;
  margin: 0;
}

.background-heart,
.heart-square {
  fill: var(--lovely-red);
}

.circles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  animation: rotateWrapper 10s linear infinite;
}

.circles li {
  position: relative;
  display: block;
  list-style: none;
  background: rgba(255, 255, 255, 0);
  animation: animate 10s linear infinite;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}
.circles li:nth-child(11) {
  left: 50%;
  width: 50px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}
.circles li:nth-child(12) {
  left: 64%;
  width: 40px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 20s;
}
.circles li:nth-child(13) {
  left: 32%;
  width: 170px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}
.circles li:nth-child(14) {
  left: 56%;
  width: 132px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}
.circles li:nth-child(15) {
  left: 78%;
  width: 212px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    opacity: 0;
    border-radius: 0;
  }

  10% {
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform:  translateX(500px) translateY(-250px);
    opacity: 0;
    border-radius: 50%;
    filter: blur(2px);
  }
}