@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
}

body {
  font-family: Work Sans, Arial, sans-serif;
}

@layer base {
  body {
    @apply dark:bg-[#13160E] dark:text-[#f0f2eb] bg-[#eef1e9] text-[#11130c];
  }
}
