@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

::selection {
  background-color: rgb(244, 63, 94);
}

body {
  color: var(--foreground);
  background: var(--background);
  background-image: url("/assets/noise.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
}

.react-photo-album--photo {
  transition: all 250ms ease-in-out;
  border-radius: 0.5em;
}

@media only screen and (min-width: 64.063em) {
  .react-photo-album--photo:hover {
    z-index: 25;
    animation: photo-album-animation-hover 4s ease-in-out 0s infinite;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    filter: brightness(1);
  }

  .photo-album-container:hover .react-photo-album--photo:not(:hover) {
    transition: all 250ms ease-in-out;
    filter: brightness(0.5);
  }
}

@keyframes photo-album-animation-hover {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(0px);
  }
}
